:root{
    --primary:#439afd;
    --dark-primary:#202124;
    --dark-secondary:#2b2b2b;
}
*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15%;
    padding: 1%;
    background-color: var(--dark-primary);
    color: var(--primary);
    /* box-shadow: 1px 0px 20px grey; */
    position: fixed;
}
div .logo{
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary);
    letter-spacing: .10cm;
}
a span{
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 50px;
    cursor: pointer;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    color: var(--primary);
}
div button{
    font-weight: 900;
    color: var(--primary);
    border: 1px solid #439afd;
    background-color: var(--dark-primary);
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
}
div button:hover{
    color: white;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: 1px 1px 5px #439afd;
}


/* this is section */


.main{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 120px 0px 120px;
    background-color: var(--dark-primary);
    color: white;
    gap: 20%;
}
div .name-section__title{
    letter-spacing: .10cm;
    font-weight: 800;
}
.name-section__title span{
    color: var(--primary);
}
p{
    margin-top: 10px;
    color: #bababa;
}
div .btn.btn_primary{
    background-color: var(--primary);
    letter-spacing: 1px;
    margin: 10px 0px;
    padding: 15px 50px;
    color: white;
    border-radius: 5px;
}
div .btn.btn_primary:hover{
    background-color: #316FF6;
    box-shadow: 10px 10px 30px var(--primary);

}
div img{
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}
.social__icons li a{
    margin: 10px 15px 10px 0px;
    color: white;
    list-style: none;
    display: flex;
    text-decoration: none;
}
ul.social__icons {
    display: flex;
    list-style-type: none;
    padding: 0px;
    size: 25px;
}
.social__icons li>a{
    text-decoration: none;
}
.social__icons li a > i.fa-facebook:hover{
    color:#316FF6 ;
}
.social__icons li a > i.fa-github:hover{
    color:#171515 ;
}
.social__icons li a > i.fa-linkedin:hover{
    color:#0077b5 ;
}
.social__icons li a > i.fa-envelope:hover{
    color:whitesmoke ;
}

.about_section{
    background-color: var(--dark-secondary);
    width: 100%;
    height: 98vh;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#aboutimg{
    width: 310px;
    height: 360px;
    border-radius: 100%;
    padding: 1px;
    background-color: var(--dark-primary);
    border: 5px solid var(--primary);
    box-shadow: 1px -1px 40px var(--primary);
}
.dev2 p{
    width: 450px;
    color: #bababa;
    text-align: justify;
}
.btn.btn_primary.summary{
    display: flex;
    justify-content: center;
}
.btn.btn_primary.summary:hover{
    box-shadow: 0px 0px 0px var(--dark-primary);
}

/* work section  */



.work_section{
    background-color: #171414;
    text-align: center;
    padding: 25px;
    color: white;
    height: 90vh;

}
.work_section_box
{
    background-color: var(--dark-secondary);
    margin: 10px;
    width: 220px;
    height: 80px;
    padding: 30px;
    text-align: left;
    border-radius: 15px;
    flex-basis: 40%;
}
.work_section_box:hover{
    background-color: #303030;
}

.work_section h4,.contact_me h4{
    font-size: 30px;
}

.work_section_box p{
    color: #bababa;
}
.work_section_box a{
    text-decoration: none;
    color: var(--primary);
    /* text-align: center; */
    margin-top: 15px;
}
.work_section_box a:visited{
    color: var(--primary);
}
.work_items{
    margin: 20px;
    justify-content: space-evenly;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

/* sub-title */
.work_section h4 span, .contact_me h4 span{
    color: var(--primary);
}



/* contact me section  */

.contact_me{
    background-color: var(--dark-primary);
    color: white;
    text-align: center;
}
